body{
    background-color: rgba(255, 184, 53, 0.549);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    /* overflow-x: hidden; */
}

/* .navbar > *
 {
    border: 1px solid blue; /* Highlight all children */
/* } */ 

.navbar{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:skyblue
}
/* #D1E8FF #AFCBFF #B0C4DE */
.logo-img{
    width: 87px;
    height: 77px;
    padding: 15px;
}

.searchbar{
    margin: auto;
    width: 15em;
    padding: 15px;
    border: none;
    border-radius: 5%;
}

.search-icon{
    width: 3.2rem;
    height: 1.8rem;
    /* margin-right:55px ; */
    cursor: pointer;
}
.search-icon:hover{
    width: 3.4rem;
    height: 1.9rem;
}
.user{
    margin-right: 5px;
}

footer{
    position: relative;
    border: 1px solid red;
    bottom: 0;
    background-color: #28c1d2;
    width: 100%;
    height: 790px;
    white-space:nowrap;
}

.links{
    display: flex;
    flex-direction: column;
    color: #000000c4;
    margin-top: 2em;
    margin-bottom: 10rem;
    text-align: justify;
    margin-left: 10px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.box1 img{
    width: 167px;
    height: 90px;
    /* margin: 20px 20px; */
    margin-left: 20px;
    cursor: pointer;
}

.hero img{
    width: 360px;
    height: 190px;
    margin: 20px 20px;
    margin-left: 20px;
    cursor: pointer;
}

.about p{
    text-align:justify;
    border: 1px solid red;
    margin: 10px 20px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.social{
    padding: 15px;
}

.social-svg{
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: #000000c4;
}

.copyright{
    color:#000000c4 ;
    font-weight: bolder;
    /* position: absolute; */
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: auto;
}

.line{
    outline: none;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 45px;
}

.linkline{
    margin-left: 5px;
}


/* For Counter */

.counter-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    height: 390px;
    width: 90%;
    background: linear-gradient(135deg, white, rgb(14, 154, 182), navy);
    font-size: 1.789rem;
    color: bisque;
    gap: 1rem;
}

.counter{
    margin-left: 15px;
}

.telegram{
    width: 30px;
    height: 30px;
}


/* Faq Section */

.color{
    color: red;
}

.faq-section{

    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border: 1px solid red;
    height: auto;
    width: 90%;
    /* background: linear-gradient(135deg, rgb(8, 69, 97), rgb(2, 149, 229), skyblue); */
    font-size: 1.789rem;
    color: bisque;
    gap: 1rem;
}

.logo-footer{
    margin-right: 300px ;
    margin-bottom: 50px;
}

.faq-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 2.1rem;
    color: #000000c4;
    font-weight: bolder;
}

.faq-question{
    font-size: 1.2rem;
    margin-left: 15px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
}

.faq-answer{
    font-size: 1rem;
    text-align: justify;
    margin: 10px 20px;
    font-weight: bold;
    background-color: #16a3b6;

    /* #055a91 */
}


/* Our Services */
.services-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #000000f3;
    font-weight: bolder;
}



/* For Contact Us */